.venv
__pycache__
*.pyc
*.pyo
*.pyd
node_modules
web/node_modules
web/dist
.git
.gitignore
.idea
.vscode
*.md
!README.md
docs
pages
api
app.js
app.json
app.less
project.config.json
sitemap.json
config.js
package.json
package-lock.json
.eslintrc.js
.prettierrc.yml
.prettierignore
.eslintignore
